body{
    font-family: TT Lakes, serif;
    font-size: 14px;

    letter-spacing: 0.2px;
    color: #1B1C21;
}
.header__main-menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height:250px;
}
img{
    min-height: 7vh;

}
.services{
    border-top: 1px solid #D9FFF5;
    background-color: #F8F8F8;
    height: 1000px;
}
.services .services__heading::before{
    content:"";
    margin-right: 10px;
    border-left-width: 3px;
    border-left-style: solid;
    border-left-color: #41F6D7;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
}
.services .services__heading{
    font-size: 5em;
    margin-left: 2%;
}
.services__slidemenu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    white-space: nowrap;
    font-size: 5em;
    flex-shrink:0;
    flex-wrap: nowrap;
    overflow-x:scroll;

}
.services__slidemenu li {
    padding: 1.5% 4%;
    margin-left: 16px;

}

.services__slidemenu li:first-child{
    margin-left: -1%;
    border: 0.4vh solid #B8FFEC;
    border-radius: 1vh;
    background-color: #ffff;
}
.services__slidemenu a {
    text-decoration: none;
}

.services__slidemenu a:hover {

}
.services__description{
    text-align: left;
    padding-left:4%;
    line-height: 129%;
    font-size: 3em;
}

.services__next{
    display: flex;
}
.services__next h2{
    font-size: 5em;

}
.services__next img{




}
.services__picture{

    width: 100%;

}